@media screen and (max-width:567px) {
    * {
        font-size: 14px;
    }
    /* header starts */
    nav {
        flex-direction: column;
        padding: 5px 10px;
    }

    .banner {
        padding: 50px 24px;
        margin: 15px;
        border-radius: 20px;
    }

    .menu > ul {
        gap: 10px;
        padding: 10px 0px;
    }
    .banner-title, .zilla {
        font-size: 26px;
    }
    input, select {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .btn-primary {
        width: 100%;
    }
    /* header ends */

    /* popular starts */
    .popular-tours {
        flex-direction: column;
    }
    .popular-tours img {
        width: 100%;
        padding: 15px;
        border-radius: 40px;
    }
    /* popular ends */

    /* card */
    .card-two {
        width: 100%;
    }
    .card {
        width: 100%;
        margin-bottom: 10px;
    }
    .row-two {
        width: 100%;
    }


    /* destination starts */
    .dest-text {
        border-radius: 20px;
    }
    .row {
        grid-template-columns: 1fr;
        margin: 15px;
    }
    .row-second {
        grid-template-columns: 1fr;
        margin: 15px;
    }
    .row-third {
        grid-template-columns: 1fr;
        margin: 15px;
    }
    /* destination ends */

    /* deal starts */
    .discount-one {
        padding: 200px 20px 40px 20px;
        margin: 15px;
    }
    .discount-two {
        padding: 200px 20px 40px 20px;
        margin: 15px;
    }
    .discount-card {
        width: 100%;
    }
    .icons {
        margin: 10px 0px;
    }
    .icons-right {
        display: flex;
        gap: 10px;
    }

    /* deal ends */

    /* perfect-place starts */
    .perfect-place {
        flex-direction: column;
    }
    .perfect-texts {
        margin: 15px;
    }
    video {
        width: 100%;
    }
    .see-more {
        width: 150px;
    }
    /* perfect-place ends */


    /* newsletter section starts */
    .newsletter-section {
        flex-direction: column;
    }
    .newsletter {
        margin: 15px;
    }
    .inner-text {
        width: 170px;
        position: relative;
        left: 200px;
        bottom: 160px;
        transform: rotate(-30deg);
    }
    /* newsletter section ends */
}